*.
.DS_Store
.idea
BDPointSampleApp.xcodeproj/xcuserdata/Chris.xcuserdatad/xcdebugger
BDPointSampleApp.xcodeproj/project.xcworkspace/xcuserdata/Chris.xcuserdatad
*.xcuserstate
PointSDK/include
*.a
PointSDK/BDPointSDK.framework
